.dest {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff, 2px 2px 4px #f00;
}

section{
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
    /* background: linear-gradient(to right,#5fc2cf,#70aaef,#ddd); */
    /* background: radial-gradient(circle,#5fc2cf,#70aaef); */
    /* background: conic-gradient(#344857,#547853,#514861); */
    background-color: #eee;
}

section h2{
    text-align: center;
    font-family: var(--font-secundaria);
    margin: 20px ;
    border-bottom: 1px solid #2c3e50;
    padding: 10px;
}


section .msn{
    display: flex;
    gap: 20px;
    align-items: center;
}

section .msn img{
    width: 40%;
}



@media screen and (max-width: 600px) {
    main{
        width: 100%;
    }
    section .msn{
        flex-direction: column;
    }
    .dest{
        text-align: center;
        padding: 15px;
        height: auto;
    }
    section .msn img{
        width: 100%;
    }
    
}